[submodule "themes/bookworm"]
	path = themes/bookworm
	url = https://github.com/gethugothemes/bookworm.git
[submodule "themes/tranquil"]
	path = themes/tranquil
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
