[submodule "themes/bookworm"]
	path = themes/bookworm
	url = https://github.com/gethugothemes/bookworm.git
[submodule "themes/tranquil"]
	path = themes/tranquil
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/timer"]
	path = themes/timer
	url = https://github.com/themefisher/timer-hugo.git
